<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sachin.dtures">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dtureslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dtureslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDh0-RWrwhjCgY4DOh8tySwyf8uqKiYx7g" />
        <activity
            android:name=".splashScreen"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="com.example.sachin.dtures.Home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPost">
            <intent-filter>
                <action android:name="com.example.sachin.dtures.AddPost" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".First_Year_Subj">
            <intent-filter>
                <action android:name="com.example.sachin.dtures.First_Year_Subj" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".first_year_items">
            <intent-filter>
                <action android:name="com.example.sachin.dtures.first_year_items" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".COE">
            <intent-filter>
                <action android:name="com.example.sachin.dtures.COE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".IT">
            <intent-filter>
                <action android:name="com.example.sachin.dtures.IT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SE">
            <intent-filter>
                <action android:name="com.example.sachin.dtures.SE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ECE" >
            <intent-filter>
                <action android:name="com.example.sachin.dtures.ECE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EE" >
            <intent-filter>
                <action android:name="com.example.sachin.dtures.EE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ME" >
            <intent-filter>
                <action android:name="com.example.sachin.dtures.ME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PC">
            <intent-filter>
                <action android:name="com.example.sachin.dtures.PC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>